
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}  

.light {
    /*color variables*/
    --main-bg-color: rgba(219, 214, 209);
    --main-font-color: rgba(0, 0, 0, 0.8);
    --layer-bg-color: rgba(0, 0, 0, 0.6);
    --layer-bg-font-color: #fff;
    --about-bg-color: rgba(180, 189, 208)
}

.dark {
    /*color variables*/
    --main-bg-color: rgba(31, 37, 50);
    --main-font-color: rgba(256, 256, 256, 0.7);
    --layer-bg-color: rgba(0, 0, 0, 0.8);
    --layer-bg-font-color: rgba(256, 256, 256, 0.7);
    --about-bg-color: none
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    transition: all 0.3s ease-in-out;
}   

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    height: max(15vh);
    width: max(100vw, 100%);
    padding: 20px 20px 20px 40px;
}

.logo-header {
    font-family: "Aldrich";
    font-size: 2.25rem;
    font-weight: 400;
    margin-right: 5px;
}

.head-menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-flow: wrap;
}

.nav-item{
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover{
    scale: 1.2;
}

.nav-item a{
    cursor: pointer;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
}

.nav-item a:hover {
    opacity: 1;
    text-decoration: underline;
}

a { 
    font-size: 1.05rem;
    text-decoration: none;
    color: var(--main-font-color)
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-font-color);
}

@media(max-width:800px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    } 
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    } 
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } 
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 15vh;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: var(--main-bg-color);
        padding: 5px 30px;
        z-index: 10;
    }
    .nav-menu.active{
        left:0;
    } 
}

.toggle-icon {
    font-size: 1.3rem;
    margin-left: 30px;
    cursor: pointer;
}

.main-bg {
    background: url('./images/main-background\ img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: max(100vh, 100%);
    width: max(100vw, 100%);
    margin: 0 auto;
}

.layer-bg {
    background-color: var(--layer-bg-color);
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
    color: var(--layer-bg-font-color)}

.main-icons {
    display: flex;
    justify-content: space-between;
    font-size: 2.625rem;
}

.main-icons li {
    list-style: none;
    margin: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.main-icons li:hover {
    cursor: pointer;
    scale: 1.5;
}

.layer-bg h1 {
    font-size: 5rem;
    font-weight: 400;
    max-width: 80%;
    margin-top: 20px;
    line-height: 0.9;
}

.layer-bg h3 {
    font-size: 2.625rem;
    font-weight: 300;
    max-width: 80%;
    margin-top: 20px;
}

#about-btn {
    border: 2px solid var(--layer-bg-font-color);
    color: var(--layer-bg-font-color);
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 8px 16px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
}

#about-btn:hover {
    background-color: var(--layer-bg-font-color);
    color: var(--layer-bg-color);
    scale: 1.2;
    cursor: pointer;
}


footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: max(30vh, 100%);    
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    padding: 20px 20px;
    transition: all 0.3s ease-in-out;
}

.logo-footer {
    font-family: 'Aldrich';
    font-size: 2.25rem;
    font-weight: 300;
}

.footer .icons li {
    list-style: none;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.footer .icons li i:hover {
    scale: 1.2;
    opacity: 1;
    cursor: pointer;
}

.address, .contacts {
    margin: 10px 5px;

}
section h4 {
    font-weight: 500;
}

#email:hover {
    text-decoration: underline;
    color: #5300da;
}

.copyright {
    margin: 5px;
    font-size: 0.6rem;
    text-align: center;
    align-self: center;
}

/* styles about page */
*{
    outline: 1px
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: max(100vh, 100%);
    max-width: max(100vw, 100%);
    padding: 30px;
    background: var(--about-bg-color);
}

.about-me {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 30px;
}

.text-header h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-me p{
    position: relative;
    height: 100%;
    width: 100%;
    text-indent: 1.2;
    text-align: justify;
}

.about-me img {
    float:left;
    max-height: 40%;
    width: 30%;
    padding-right: 10px;
}