:root {
    --main-bg-color: rgb(245, 245, 245);
    --main-font-color: rgba(0, 0, 0, 0.8);
    --layer-bg-color: rgba(0, 0, 0, 0.6);
    --layer-bg-font-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}  

body {
background-color: var(--main-bg-color);
color: var(--main-font-color);
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    height: max(15vh);
    width: max(100vw, 100%);
    padding: 20px 20px 20px 40px;
}

.logo-header {
    font-family: "Aldrich";
    font-size: 2.25rem;
    font-weight: 400;
    margin-right: 5px;
}

.head-menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-flow: wrap;
}

.nav-item {
    list-style: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-item:hover {
    opacity: 1;
    text-decoration: underline;
    scale: 1.2;
}

a { 
    font-size: 1.05rem;
    text-decoration: none;
    color: var(--main-font-color)
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.8);
}

@media(max-width:800px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    } 
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    } 
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } 
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 15vh;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: var(--main-bg-color);
        padding: 5px 30px;
        z-index: 10;
    }

    .nav-menu.active{
        left:0;
    } 
}

.toggle-icon {
    font-size: 1.4rem;
    margin-left: 30px;
    cursor: pointer;
}

.toggle-icon:active {
    transform: rotate(180deg);
    color: var(--main-font-color);
    background-color: transparent;
}

.main-bg {
    background: url('./images/main-background\ img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: max(100vh, 100%);
    width: max(100vw, 100%);
    z-index: -1;
    margin: 0 auto;
}

.layer-bg {
    background-color: var(--layer-bg-color);
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
    color: var(--layer-bg-font-color)}

.main-icons {
    display: flex;
    justify-content: space-between;
    font-size: 2.625rem;
}

.main-icons li {
    list-style: none;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.main-icons li :hover {
    cursor: pointer;
    scale: 1.5;
}

.layer-bg h1 {
    font-size: 5rem;
    font-weight: 400;
    max-width: 80%;
    margin-top: 20px;
    line-height: 0.9;
}

.layer-bg h3 {
    font-size: 2.625rem;
    font-weight: 300;
    max-width: 80%;
    margin-top: 20px;
}

#about-btn {
    border: 2px solid var(--layer-bg-font-color);
    border-radius: 5%;
    background-color: transparent;
    color: var(--layer-bg-font-color);
    font-size: 24px;
    padding: 10px 16px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

#about-btn:hover {
    background-color: var(--layer-bg-font-color);
    color: var(--main-font-color);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    padding: 20px 20px;
    margin: 10px 10px;
    transition: all 0.3s ease-in-out;
}

.logo-footer {
    font-family: 'Aldrich';
    font-size: 2.25rem;
    font-weight: 300;
}

footer .icons li {
    list-style: none;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

li i:hover {
    scale: 1.2;
    opacity: 1;
    cursor: pointer;
}

section h4 {
    font-weight: 500;

}

#email:hover {
    text-decoration: underline;
    color: #340088;
}

.copyright {
    margin: 5px;
    font-size: 0.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}